 body {
 	background-color:#0b0b0b;
 	background-image: url('../img/background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color:white;
	font-family: Tahoma,Verdana;
	line-height: 150%;
	font-size: 9pt;
 } 

#LoginControllerOuter {

	background-color:rgba(0,0,0,0.7);

	position: absolute;
	left: 40%;
	top: 40%;

	box-shadow: 5px 5px 10px black;
 	width: 300px;
 }

#LoginControllerInner
{
	position: relative:
	display:block;
	top: 40px;
	left:0:	
	bottom:0;
	right:0;

	text-align: right;
	vertical-align: top;
	padding-right: 16px;
}

#BoardRoomOuter
{
	display: none;
}

A
{
        color: #ffffff;
}

.Headline
{
	background-color:rgba(0,0,0,0.3);
	
	position: relative;
	font-size: 15pt;
	text-align: center;
	vertical-align: center;
	margin: 5px;
	top:0;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 10px #333333;
	color: #fff8c6;
	font-family: georgia,arial;
	padding: 5px;
	height: 20px;
}

#MainWindow
{
	position: absolute;
	background-color:rgba(0,0,0,0.7);
	box-shadow: 5px 5px 10px black;
	width: 80%;
	height: 80%;
	left: 10%;
 	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 20px;
 }

.MainContent{
}

#UsersInLobby
{
	width:130px;
	text-align: left;
	vertical-align: top;
	height:230px;
 	overflow: auto;	
}
#LobbyChatControllerInner
{
	position: absolute;
	text-align: left;
	vertical-align: top;
 	overflow: auto;
	top: 0;
	bottom: 30;
	left: 0;
	right: 0;
	padding: 16px;
}

.text0 { color: #ffffff; }
.text1 { color: #ffffee; }
.text2 { color: #ffeeff; }
.text3 { color: #eeffff; }
.text4 { color: #eeeeff; }
.text5 { color: #ffeeee; }
.text6 { color: #eeffee; }
.text7 { color: #eeeeee; }

#BoardRoomInner
{
	text-align: left;
	vertical-align: top;
 	overflow: auto;
}

button {

	padding: 5px;
}

input {

	padding: 5px;
}

#LobbyChatControllerBottom
{
	position: absolute;
	height:30px;
	bottom: 0;
	left: 0;
	right: 0;
	display:block;
	padding: 16px;
}
#LobbyChatInput
{
	background-color:rgba(0,0,0,0.5);
	color:white;	
	width: 100%;
	margin-top: 5px;
}

 #DebugOuter{
	background-color:rgba(0,0,0,0.5);
	left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, -80%);    
    -webkit-transform: translate(-50%, -80%);
    -moz-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);

	box-shadow: 5px 5px 5px black;
 	width: 600px;
 	margin: auto;
 	padding: 30px;
 }

#DebugInner
{
	text-align: left;
	vertical-align: top;
	height:40px;
 	overflow: auto;
 	font-size: 10px;
}
