<html ng-app="Snaphook">
    <head>
        <title>Snaphook</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <meta http-equiv="content-type" content="text/html;charset=utf-8;"/>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/controllers/index.js"></script>
        <script src="js/strophe.js"></script>
        <script src="js/strophe.muc.js"></script>
        <script src="js/strophe.register.js"></script>
        
    </head>
    
    <body>     
         <div id="LoginControllerOuter" ng-controller="CommunicationController">
		<div class="headline">
			No dogs or women allowed.
		</div>
            <div id="LoginControllerInner">
		<form>
                <div>
                    <p>Username
                        <input type="text" id="username" autofocus/>
                    </p>
                </div>
                <div>
                    <p>Password
                        <input type="password" id="password"/>
                    </p>
                </div>
                <div>
                    <p>
                        <button id="loginbutton" ng-click="Login()">Log in</button>
                    </p>
                </div>
		</form>
            </div>
         </div>

         <div id = "MainWindow" ng-controller="MainWindowController">
            <!--<button id="ShowLobby" ng-click="ShowLobby()">Lobby</button>
            <button id="ShowBoardRoom" ng-click="ShowBoardRoom()">Board room</button>-->

             <div id="BoardRoomOuter" class="MainContent">
                ARNE OUT
                <div id="BoardRoomInner">
                    BERIT INNER<br/>
                </div>
             </div>
<!--
             <div class="Headline">             
                    <i>-"I still don't get golf." -Lance Armstrong</i>
             </div>
-->
             <div id="LobbyChatControllerOuter" class ="MainContent" ng-controller="LobbyChatController">
                <div id="LobbyChatControllerInner">
        			<table id="ChatTable" cellspacing=0 cellpadding=0 rowpadding=0>
        				<tr>
        					<td class=chat_nick></td><td class=chat_divider> </td><td class=chat_body></td>
        				</tr>
        			</table>
                </div>
                <!--
                <div id="UsersInLobby">
                </div>
                -->
                <div id="LobbyChatControllerBottom">
                    <input id="LobbyChatInput" type="text" value="" ng-keydown="lobbymessaged($event)" autocorrect="off" autocapitalize="off" spellcheck="false"></input>
                </div>
             </div>
         </div>


         <div id="DebugOuter" style="display:none;">
            <div id="DebugInner">
            </div>
         </div>

    </body>
</html>
